
		.md-toolbar-tools h1 {
		  font-size: inherit;
		  font-weight: inherit;
		  margin: inherit;
		}

		.md-toolbar-tools h1 {
		  background: #785F48;
		  color: #fafafa;
		  line-height: 44px;
		  margin-left: -16px;
		  padding: 10px;
		}		


#a-section {
	background: #D0D0D0;
}		

#a-chain {
	background: #ddd;
}

.act-item {
	color: #ffffff;
	font-size: 10px;
	padding: 0 5px;
	border-radius: 3px;
}

#act-items .md-button {
	margin:6px 0;
}

#a-section md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }
#a-section md-list-item > p, #a-section md-list-item > .md-list-item-inner > p, #a-section md-list-item .md-list-item-inner > p, #a-section md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ 
}

/* md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  height: auto;
  min-height: 350px;
}
*/

#pname {
	border-right: 1px solid #ccc;
	margin-right: 15px;
	padding-right: 15px;	
}

.md-whiteframe-1dp {
	margin: 10px;
	font-size: 12px;
	min-width: 150px;
	height: 150px;;
}

canvas {
	margin: 0;
	padding: 0;
}

#main-container {
	background: #3A3A3A;
}

#info-panel {
	position: absolute;
	left: 10px;
	bottom: 2px;
	color: #797979;
	background: #3A3A3A;
	line-height: 35px;
}

#cam-preview {
	/*background: #616161;*/
	margin: 8px;
	height: 180px;
}

.list-selected {
	font-weight: bold;
	color: #785F48;
}
.list-normal {	
	color: #999;
}